
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Chivo Mono', monospace;
    }


/*////////////////////////////////////////////////////////////*/
/*/////////////////// HEADER /////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/

header{
    background-color: #011627;
}

.header-global {
    background-color: #FFFFFF;
    /*
    border-style: solid;
    border-color: blue;*/

}


/*////////////////////////////////////////////////////////////*/
/*/////////////////// TOP NAV ////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/

.top-nav {
    
    height: 80px;
    background-color: #011627;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
    
}

.burger-menu{
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
    font-size: 30px;
    padding: 25px;
}

.cart{
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
    font-size: 30px;
    padding: 25px;
}

.egamers-logo{
    text-align: center;
    font-family: 'Chivo Mono', monospace;
    font-size: 20px;
    padding: 20px;
}


/*////////////////////////////////////////////////////////////*/
/*/////////////////// SEARCH /////////////////////////////////*/
/*////////////////////////////////////////////////////////////*/

.search-container {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    background-color: lightgray;
}

.search-form {
    height: 40px;
    min-width: 80px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
    border-style: hidden;
    background-color: #FFFFFF;
}

.search-input {
    height: 35px;
    width: 80%;
    border-style: hidden;
    background-color: #FFFFFF;
    padding: 10px;
}

.search-button {
    height: 35px;
    border-style: hidden;
    font-size: 30px;
    background-color: #FFFFFF;
    padding-right: 10px;
}

