<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> eGamers - Iniciar sesión</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/login.css" />
        <link rel="stylesheet" href="/css/footer.css" />
        <link rel="stylesheet" href="/css/header.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/ccb79c327a.js" crossorigin="anonymous"></script>
    
    </head>
<body>
    

<!--***********************************************************************
                        Header 
************************************************************************-->

    <header class="header-global">
        
        <div class="top-nav">

            <div class="burger-menu"> 
                
                <i class="fa-sharp fa-solid fa-bars"></i> 
            
            </div>

            <div class="egamers-logo">
                <h1>
                    eGamers
                </h1>
            </div>

            <div class="cart">

                <i class="fa-sharp fa-solid fa-cart-shopping"></i>

            </div>



        </div>


        <div class="search-container">

            <form action="/action_page.php" class="search-form">
              <input class="search-input" type="text" placeholder="Buscar juego, categoría, etc." name="search">
              <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
            </form>

        </div>
        

        
    </header>

<!--***********************************************************************
                        Login Page
************************************************************************-->

    <main class="main-login-section">

        <div class="login-widget">

                <form action="/" method="post" class="formulario-login">
                        <div class="campo">
                            <input type="text" name="usuario" placeholder="Nombre de usuario" required="">
                        </div>
                        <div class="campo">
                            <input type="password" name="contraseña" placeholder="Contraseña" required="">
                        </div>
                        <div class="campo, boton-entrar">
                            <button type="submit">Entrar</button>
                        </div>
                </form>

        </div>
</main> 

<!--***********************************************************************
                        Footer 
************************************************************************-->

    <footer>

        <div class="footer-global">

            <section class="about-us">
                <h3 class="logo-mini">
                    eGamers
                </h3>
                <p class="wording">
                    Lorem ipsum dolor sit amet 
                </p>
            </section>

            <section class="contact">
                <h3>
                    Contacto
                </h3>

                <p class="wording">
                    Envíanos tu consulta: 
                </p>

                <ul>
                    <li><i class="fa-brands fa-whatsapp"></i> +54 9 11 1111 1111</li>
                    <li><i class="fa-solid fa-envelope"></i> hola@egamers.com</li>
                </ul>

            </section>

            <section class="payment-options">
                <h3>
                    Opciones de Pago
                </h3>

                <ul>
                    <li><i class="fa-regular fa-credit-card"></i> Tarjeta de crédito y débito</li>
                    <li><i class="fa-solid fa-building-columns"></i> Transferencia</li>
                    <li><i class="fa-brands fa-bitcoin"></i> Criptomonedas</li>
                </ul>

            </section>

            <section class="social-media">
                <h3>
                    Redes Sociales
                </h3>

                <ul>
                    <li><i class="fa-brands fa-instagram"></i> Instagram</li>
                    <li><i class="fa-brands fa-facebook"></i> Facebook</li>
                    <li><i class="fa-brands fa-tiktok"></i> TikTok</li>
                    <li><i class="fa-brands fa-twitter"></i> Twitter</li>
                    <li><i class="fa-brands fa-youtube"></i> YouTube</li>
                </ul>

            </section>

        </div>

            <section>
                <h3 class="copyright">Copyright © 2022 eGamers S.R.L.</h3>
            </section>
    
       

    </footer>
        


</body>
</html>