<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> eGamers - Iniciar sesión</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/login.css" />
        <link rel="stylesheet" href="/css/footer.css" />
        <link rel="stylesheet" href="/css/header.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/ccb79c327a.js" crossorigin="anonymous"></script>
    
    </head>
<body>
    

<!--***********************************************************************
                        Header 
************************************************************************-->

    <header class="header-global">
        
        <div class="top-nav">

            <div class="burger-menu"> 
                
                <i class="fa-sharp fa-solid fa-bars"></i> 
            
            </div>

            <div class="egamers-logo">
                <h1>
                    eGamers
                </h1>
            </div>

            <div class="cart">

                <i class="fa-sharp fa-solid fa-cart-shopping"></i>

            </div>



        </div>

<!--***********************************************************************
                        Search Container 
************************************************************************-->


        <div class="search-container">

            <form action="/action_page.php" class="search-form">
              <input class="search-input" type="text" placeholder="Buscar juego, categoría, etc." name="search">
              <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
            </form>

        </div>
        

        
    </header>

<!--***********************************************************************
                        Login Page
************************************************************************-->

    <main>
        Hola soy un login
    </main>

<!--***********************************************************************
                        Footer 
************************************************************************-->




</body>
</html>